<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lihao.demo.mapper.FaceInfoMapper">

    <insert id="insert" parameterType="FaceInfo">
        INSERT INTO bs_t_face_info (path, file_name, create_time, gender, age) VALUES
            (#{path}, #{fileName}, #{createTime}, #{gender}, #{age})
    </insert>

    <select id="test" resultType="FaceInfo">
        SELECT
        id, path, file_name, create_time, gender, age
        FROM
        bs_t_face_info limit 1
    </select>

    <update id="delete">
        DELETE FROM bs_t_face_info where id=#{id};
    </update>

    <update id="update" parameterType="FaceInfo">
        update bs_t_face_info
        <trim prefix="set" suffixOverrides=",">
            <if test="path!=null">path=#{path}, </if>
            <if test="fileName!=null">file_name=#{fileName}, </if>
            <if test="gender!=null">gender=#{gender}, </if>
            <if test="age!=null">age=#{age}, </if>
        </trim>
        where id=#{id}
    </update>

    <select id="listAll" resultType="FaceInfo">
        SELECT
            id, path, file_name, create_time, gender, age
        FROM
            bs_t_face_info
    </select>

    <select id="getById" resultType="FaceInfo">
        SELECT
            id, path, file_name, create_time, gender, age
        FROM
            bs_t_face_info
        where
            id=#{id}
    </select>

</mapper>